---
import { Image } from "astro:assets";
const { title, description, imageUrl } = Astro.props;
import favicon from "../../public/favicon.svg";
---

<div class="subheader">
  <img class="subheader-image" src={imageUrl} alt="" />
  <h1>{title}</h1>
  <div class="subheader-text-bg"></div>
</div>

<style>
  .subheader {
    position: relative;
    width: 100%;
  }

  .subheader-image {
    width: 100%;
    opacity: 0.3;
    object-fit: cover;
    height: 200px;
  }

  .subheader h1 {
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 30px;
    left: 100px;
    top: 50%;
    margin-right: 100px;
    transform: translateY(-50%);
    z-index: 100;
  }

  .subheader-text-bg {
    position: absolute;
    top: 58%;
    left: 0;
    transform: translateY(-50%);
    width: 340px;
    height: 15px;
    background-color: white;
    opacity: 0.8;
    z-index: 99;
  }

  @media screen and (max-width: 768px) {
    .subheader-image {
      height: 130px;
    }

    .subheader-image {
      opacity: 0.4;
    }

    .subheader h1 {
      position: absolute;
      color: black;
      left: 30px;
      font-size: 25px;
      margin-right: 30px;
    }

    .subheader-text-bg {
      display: none;
    }
  }
</style>
